.super-list {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #EDEEF0;
  border-radius: 4px;
  box-shadow: 0 1px 3px #EDEEF0;
  list-style: none;
  padding: 0;
  width: 500px;
  color: #313131; }
  .super-list__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    padding: 0.5em 1em 0.5em 0.5em;
    border-bottom: 1px solid #EDEEF0;
    white-space: nowrap;
    transition: color 0.25s ease; }
    .super-list__item:hover {
      color: #bada55; }
    .super-list__item__icon {
      margin-right: .75em; }
    .super-list__item:last-child {
      border: none; }
    .super-list__item__text {
      overflow: hidden;
      display: block;
      float: left;
      line-height: 3.2;
      width: 475px; }
      .super-list__item__text::after {
        position: absolute;
        float: right;
        content: "";
        right: 0;
        top: 15px;
        height: 50%;
        width: 62%;
        background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0)); }
    .super-list__item__handle {
      display: block;
      width: 25px; }
      .super-list__item__handle::after {
        float: right;
        position: absolute;
        top: 2px;
        right: 0;
        content: url(http://www.dexterlesaca.com/img/action.png);
        z-index: 2; }
  .super-list .popover {
    width: 200px; }

.super-list {
  margin: 2em auto;
  /*for demo*/ }
