.super-list {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #EDEEF0;
  border-radius: 4px;
  box-shadow: 0 1px 3px #EDEEF0;
  list-style: none;
  padding: 0;
  width: 450px;
  color: #313131; }
  .super-list__item {
    position: relative;
    align-items: stretch;
    padding: 0.5em 1em 0.5em 0.5em;
    border-bottom: 1px solid #EDEEF0;
    white-space: nowrap;
    transition: color 0.25s ease;
    background-color: #ffffff; }
    .super-list__item:hover {
      cursor: pointer;
      color: #00a2f0; }
    .super-list__item__icon {
      float: left;
      display: inline-block;
      margin-right: .75em; }
    .super-list__item:last-child {
      border: none; }
    .super-list__item__text {
      overflow: hidden;
      display: inline-block;
      line-height: 3.2;
      width: 87%;
      vertical-align: middle;
      white-space: nowrap;
      float: left; }
      .super-list__item__text::after {
        position: absolute;
        content: "";
        right: 70px;
        top: 15px;
        height: 50%;
        width: 20%;
        background-image: -webkit-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, white, rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0)); }
    .super-list__item__handle {
      height: 50px;
      float: right;
      width: 0; }
      .super-list__item__handle::after {
        float: right;
        position: absolute;
        top: 2px;
        right: 5px;
        content: url(http://www.dexterlesaca.com/img/action.png);
        z-index: 2; }
  .super-list .popover {
    color: #313131;
    width: 200px; }

.super-list {
  margin: 2em auto;
  /*for demo*/ }
