.super-list {
  font-family: $font-stack;
  border: 1px solid #EDEEF0;
  border-radius: 4px;
  box-shadow: 0 1px 3px #EDEEF0;
  list-style: none;
  padding: 0;
  width: 500px;
  color: #313131;
  &__item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    padding: .5em 1em .5em .5em;
    border-bottom: 1px solid #EDEEF0;
    white-space: nowrap;
    transition: color .25s ease;
    &:hover {
      color: #bada55;
    }
    &__icon {
      margin-right: .75em;
    }
    &:last-child {
      border: none;
    }
    &__text {
      overflow: hidden;
      display: block;
      float: left;
      line-height: 3.2;
      width: 475px;
      &::after {
        position: absolute;
        float: right;
        content: "";
        right: 0;
        top: 15px;
        height: 50%;
        width: 62%;
        background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -ms-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: -o-linear-gradient(right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        background-image: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      }
    }
    &__handle {
      display: block;
      width: 25px;
      &::after {
        float: right;
        position: absolute;
        top: 2px;
        right: 0;
        content: url(http://www.dexterlesaca.com/img/action.png);
        z-index: 2;
      }
    }
  }
  .popover {
    width: 200px;
  }
}

.super-list {
  margin: 2em auto; /*for demo*/
}
